**/.git
**/.idea
**/.env.example
**/node_modules
**/vendor
**/storage/framework/cache/**
**/storage/framework/sessions/**
**/storage/framework/views/**
**/public/css/*.css
**/public/js/*.js
**/docker-compose.*
**/Dockerfile